:root{
    --angle: 360deg;
    --view:none;
    --spinTime:0ms;
    --pipBg: #F32D18;
    --pipBgTop: #520802;
    --pipBgBottom: #F43435;
}
* {
    box-sizing: border-box;
}
html{
    height: 100%;
}
body{
    font-family: 'Press Start 2P', cursive;
    background-image: linear-gradient(to top, #00008B 0%, #330867 100%);
    background: cover;
}
.header {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #DAA520;
    color: antiquewhite;
}
.score-board{
    display: grid;
    grid-gap: 40px;
    grid-template-areas: 
    'score-p1 score-p2'
}
.col-md-4{
    display: flex;
    text-align: center;
    justify-content: center;
}
#score-p1{
    background: red;
}
#score-p2{
    background: green;
}
#role-score{
    display: flex;
    text-align: center;
    justify-content: center;
}
.role-p1-score,.player-1,.score-p1{
    color:#CCAB81;
}
.role-p2-score,.player-2,.score-p2{
    color:#DAC1A2;
}
#score-p1 ,#score-p2 {
    color:antiquewhite;
}
.role-dice{
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 20px;
}
.display-msg{
    display: flex;
    text-align: center;
    justify-content: center;
    color: antiquewhite;
    margin: 20px;
}